body {
    background-color: bisque;
    margin-left: 100px;
    margin-right: 100px;
}
h1{
    font-family: 'Righteous', cursive;
    font-size: 48px;
    color: black;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
}
p{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}

a:visited { text-decoration: none;
}
a:link { text-decoration: none;
}
a:hover { text-decoration: none;
}
a:active { text-decoration: none;
}


.container {
    display: flex;
    align-items: center;
    column-gap: 5rem;
}

.container img {
    max-width: 450px;
}


.sub {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.sub img {
    max-width: 250px;
    margin-top: 5rem;
}